body
{
  background-color: #001a33;
}
.header
{
  background-color: white;
  color:black;
  border-radius: 25px;
  font-size:larger;
  padding:20px;
  margin: 10px;
}
.Myskills
{
    padding:20px;
    background-color: #80c1ff;
    border-radius: 25px;
    color:black;
    margin: 10px;
}
.links
{
  padding:20px;
    background-color:#004280;
    border-radius: 25px;
    color:white;
    margin:10px;
}
.img{
  margin: 10px;
  border-radius: 25px;
}