@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,400;0,600;1,400;1,900&family=Roboto:ital,wght@1,100&display=swap');
body
{
  background-color: #001a33;
}
div{
  border-radius: 25px;
  padding:20px;
  margin: 10px;
}
.header
{
  background-color: white;
  color:black;
  font-size:larger;
  border-radius: 25px;
  padding:20px;
  margin: 10px;
}
.Myskills
{
    background-color: #80c1ff;
    color:black;
    font-family: 'Silkscreen', cursive;
}
.links
{
  padding:20px;
    background-color:#004280;
    color:white;
}
.img{
  margin: 10px;
  border-radius: 25px;
}
.ref{
  background-color: white;
  color:black;
}
@media screen and (min-width:800px) 
{
body{
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: 60% 40% ;
    grid-template-rows: auto auto auto;

}
.header{
  grid-row: 1/2;
  grid-column: 1/4;
}
.img{
  grid-row: 2/3;
  grid-column: 1/2;
}
.Myskills{
  grid-row:2/3 ;
  grid-column: 2/3;
}
.links{
  grid-row: 3/4;
  grid-column: 1/3;
}
.ref{
  grid-column: 1/3;
}
}